# Installation
sudo pip(3) install â€“U QuantLib-Python<br>

https://www.quantlib.org/install/windows-python.shtml <br>
https://quantlib-python-docs.readthedocs.io/en/latest/

In [2]:
import QuantLib as ql
import pandas as pd

In [3]:
date = ql.Date(31, 1, 2021)
print(date)

January 31st, 2021

In [4]:
type(date)

QuantLib.QuantLib.Date

In [5]:
print("%d-%d-%d"%(date.month(), date.dayOfMonth(), date.year()))

1-31-2021

In [6]:
print("%d-%d-%d"%(date.dayOfMonth(), date.month(), date.year()))

31-1-2021

In [7]:
date = ql.Date.todaysDate()

In [8]:
date

Date(30,1,2025)

In [9]:
date.weekday()

5

In [11]:
date.weekday() == ql.Thursday

True

In [13]:
ql.Sunday

1

In [24]:
date = ql.Date(31, 1, 2024)

In [25]:
print("Add a day : {0}".format(date + 1))
print("Subtract a day : {0}".format(date - 1))
print("Add a week : {0}".format(date + ql.Period(1, ql.Weeks)))
print("Add a month : {0}".format(date + ql.Period(1, ql.Months)))
print("Add a year : {0}".format(date + ql.Period(1, ql.Years)))

Add a day : February 1st, 2024
Subtract a day : January 30th, 2024
Add a week : February 7th, 2024
Add a month : February 29th, 2024
Add a year : January 31st, 2025

In [26]:
date + ql.Period(1, ql.Months) <= ql.Date(29, 2, 2024)

True

In [27]:
ql.Date.todaysDate() < date

False

In [28]:
date = ql.Date(12, 8, 2023)
us_calendar = ql.UnitedStates()
india_calendar = ql.India()
period = ql.Period(1, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
india_date = india_calendar.advance(date, period)

In [29]:
print("Add 1 day: {0}".format(raw_date))
print("Add 1 business day in US: {0}".format(us_date))
print("Add 1 business day in India: {0}".format(india_date))

Add 1 day: August 13th, 2023
Add 1 business day in US: August 14th, 2023
Add 1 business day in India: August 14th, 2023

In [30]:
period = ql.Period(15, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
india_date = india_calendar.advance(date, period)

In [31]:
print("Add 15 days: {0}".format(raw_date))
print("Add 15 business days in US: {0}".format(us_date))
print("Add 15 business days in India: {0}".format(india_date))

Add 15 days: August 27th, 2023
Add 15 business days in US: September 1st, 2023
Add 15 business days in India: September 4th, 2023

In [32]:
date1 = ql.Date(25,1,2024)
date2 = ql.Date(31, 1, 2024)

In [33]:
us_busdays = us_calendar.businessDaysBetween(date1, date2)
in_busdays = india_calendar.businessDaysBetween(date1, date2)

In [34]:
print("Business days US: {0}".format(us_busdays))
print("Business days India: {0}".format(in_busdays))

Business days US: 4
Business days India: 3

In [ ]:
us_busdays = us_calendar.businessDaysBetween(date, ql.Date.todaysDate())
in_busdays = india_calendar.businessDaysBetween(date, ql.Date.todaysDate())

In [36]:
effective_date = ql.Date(15, 1, 2023)
termination_date = ql.Date(31, 1, 2024)
tenor = ql.Period(ql.Monthly)
calendar = ql.India()
business_convention = ql.Unadjusted 
termination_business_convention = ql.Unadjusted
date_generation = ql.DateGeneration.Forward
end_of_month = True

In [37]:
schedule = ql.Schedule(effective_date, 
                       termination_date, 
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month)

In [38]:
pd.DataFrame({'date': list(schedule)})

                    date
0     January 15th, 2023
1    February 15th, 2023
2       March 15th, 2023
3       April 15th, 2023
4         May 15th, 2023
5        June 15th, 2023
6        July 15th, 2023
7      August 15th, 2023
8   September 15th, 2023
9     October 15th, 2023
10   November 15th, 2023
11   December 15th, 2023
12    January 15th, 2024
13    January 31st, 2024

In [39]:
dates = [ql.Date(1,1,2023), ql.Date(1, 2,2023),
         ql.Date(1,3,2023), ql.Date(1,4,2023),
         ql.Date(1,5,2023), ql.Date(1,6,2023),
         ql.Date(1,7,2023), ql.Date(1,8,2023),
         ql.Date(1,9,2023), ql.Date(1,10,2023),
         ql.Date(1,11,2023), ql.Date(1,12,2023),
         ql.Date(1,1,2024)]
rolling_convention = ql.Following
schedule = ql.Schedule(dates, calendar,
rolling_convention)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 1st, 2023
1    February 1st, 2023
2       March 1st, 2023
3       April 1st, 2023
4         May 1st, 2023
5        June 1st, 2023
6        July 1st, 2023
7      August 1st, 2023
8   September 1st, 2023
9     October 1st, 2023
10   November 1st, 2023
11   December 1st, 2023
12    January 1st, 2024

In [40]:
annual_rate = 0.05
day_count = ql.ActualActual()
compound_type = ql.Compounded
frequency = ql.Annual
interest_rate = ql.InterestRate(annual_rate,
day_count,
compound_type,
frequency)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [41]:
interest_rate.compoundFactor(1)

1.05

In [42]:
 1.05*1.05

1.1025

In [43]:
interest_rate.compoundFactor(2)

1.1025

In [ ]:
1.05 * 1.05

In [44]:
interest_rate.discountFactor(1)

0.9523809523809523

In [45]:
1/1.05

0.9523809523809523

In [46]:
interest_rate.discountFactor(2)

0.9070294784580498

In [47]:
1/(1.05 * 1.05)

0.9070294784580498

coupon rate = 6%
frequency = 2
spot_rate_6m = 0.005
spot_rate_1yr = 0.007
par_value = 100

In [48]:
3/pow(1+0.005, 0.5) + (100 + 3)/(1+0.007)

105.27653992490681

In [53]:
calc_date = ql.Date(15, 1, 2015)
ql.Settings.instance().evaluationDate = calc_date
spot_dates = [ql.Date(15, 1, 2015), ql.Date(15, 7, 2015), ql.Date(15, 1, 2016)]
spot_rates = [0.0, 0.005, 0.007]
day_count = ql.Thirty360()
calendar = ql.UnitedStates()
interpolation = ql.Linear()
compounding = ql.Compounded
compounding_frequency = ql.Annual
spot_curve = ql.ZeroCurve(spot_dates, spot_rates, day_count, calendar,
                          interpolation, compounding, compounding_frequency)
spot_curve_handle = ql.YieldTermStructureHandle(spot_curve)

In [54]:
issue_date = ql.Date(15, 1, 2015)
maturity_date = ql.Date(15, 1, 2016)
tenor = ql.Period(ql.Semiannual)
calendar = ql.UnitedStates()
business_convention = ql.Unadjusted
date_generation = ql.DateGeneration.Backward
month_end = False
schedule = ql.Schedule(issue_date, maturity_date, tenor,
                       calendar, business_convention,
                       business_convention, date_generation,
                       month_end)

In [55]:
list(schedule)

[Date(15,1,2015), Date(15,7,2015), Date(15,1,2016)]

In [56]:
coupon_rate = .06
coupons = [coupon_rate]
settlement_days = 0
face_value = 100
fixed_rate_bond = ql.FixedRateBond(settlement_days, face_value,
                                   schedule, coupons, day_count)

In [57]:
bond_engine = ql.DiscountingBondEngine(spot_curve_handle)
fixed_rate_bond.setPricingEngine(bond_engine)

In [58]:
npv = fixed_rate_bond.NPV()
print(npv)

105.27653992490683

In [59]:
ytm = fixed_rate_bond.bondYield(day_count,
compounding,
compounding_frequency)
print(ytm)

0.006971154634952549

In [60]:
rate = ql.InterestRate(ytm, ql.ActualActual(), ql.Compounded, ql.Annual)
ql.BondFunctions.duration(fixed_rate_bond,rate,ql.Duration.Modified)

0.9787592229538103

In [61]:
ql.BondFunctions.convexity(fixed_rate_bond,rate)

1.936865194670308

In [ ]:
flat_rate = ql.SimpleQuote(0.0015)
rate_handle = ql.QuoteHandle(flat_rate)
day_count = ql.Actual360()
calendar = ql.UnitedStates()
ts_yield = ql.FlatForward(calc_date, rate_handle, day_count)
ts_handle = ql.YieldTermStructureHandle(ts_yield)

In [ ]:
bond_engine = ql.DiscountingBondEngine(ts_handle)
fixed_rate_bond.setPricingEngine(bond_engine)

In [ ]:
fixed_rate_bond.NPV()

In [ ]:
rr = 0.04

In [ ]:
flat_rate.setValue(rr)
fixed_rate_bond.NPV()

In [ ]:
ytm = fixed_rate_bond.bondYield(day_count,
compounding,
compounding_frequency)
print(ytm)

In [ ]:
rate = ql.InterestRate(ytm, ql.ActualActual(), ql.Compounded, ql.Annual)
ql.BondFunctions.duration(fixed_rate_bond,rate,ql.Duration.Modified)

In [ ]:
ql.BondFunctions.convexity(fixed_rate_bond,rate)

In [ ]:
rr = 0.06
flat_rate.setValue(rr)
fixed_rate_bond.NPV()

In [ ]:
ytm = fixed_rate_bond.bondYield(day_count,
compounding,
compounding_frequency)
print(ytm)

In [ ]:
rate = ql.InterestRate(ytm, ql.ActualActual(), ql.Compounded, ql.Annual)
print(ql.BondFunctions.duration(fixed_rate_bond,rate,ql.Duration.Simple))
print(ql.BondFunctions.convexity(fixed_rate_bond,rate))